@tailwind base;
@tailwind components;
@tailwind utilities;

#h .dot::before {
  content: '·';
}

input.spin-button-none {
  // https://stackoverflow.com/a/4298216
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}
