{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": ["*.js"],
      "rules": { "@typescript-eslint/no-var-requires": "off" }
    }
  ]
}
